@import url('./__description/profile__description.css');
@import url('./__add-button/profile__add-button.css');
@import url('./__edit-button/profile__edit-button.css');
@import url('./__info/profile__info.css');
@import url('./__title/profile__title.css');
@import url('./__image/profile__image.css');

.profile {
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 36px 0;
}

.profile__edit-avatar-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('../../images/avatar-edit-button.svg');
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-size: cover;
  border: none;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.3s;
}

.profile__image:hover .profile__edit-avatar-button {
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .profile {
    padding: 43px 0;
    flex-direction: column;
    text-align: center;
  }
}
