.card__like-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.card__like-button {
  width: 21px;
  height: 18px;
  background: transparent url('../../../images/like-inactive.svg') no-repeat;
  background-size: 21px 18px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: 0.3s;
}

.card__likes-count {
  width: 21px;
  height: 13px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
  color: #000;
  margin: 5px 0 0 0;;
  padding: 0;
}